<!--
  Displays something told by ducky the rubber duck
-->

<div class="ducky">
    <img class="ducky-img" src="/images/ducky.png" alt="ducky">
    <div class="ducky-txt">
        <div>
        {{ .Inner | markdownify }}
        </div>
    </div>
</div>




