<!--
an iframe if the screen is big enough, an alternative text otherwise.
-->

<div class="alt">
  {{ .Get 0 | markdownify }}
</div>
<div class="optional">
  {{ with .Get "legend" | markdownify }}<div><p>{{.}}</p></div>{{end}}
  <iframe
    {{ with .Get "title" }} title="{{.}}" {{ end }}
    src="{{.Get "src" }}">
  </iframe>
</div>


