<!--
  If the screen is large enough, it will display the main-text, otherwise the "alt" attribute
-->

<div class="alt">
  {{ .Get 0 | markdownify }}
</div>
<div class="optional">
  {{ .Inner | markdownify }}
</div>



