<!-- Generate a header with a sum-up and an image to be displayed at the
    beggining of a post
-->
{{- $img := .Get "img" | default (printf "%s." (.Get "img") | replace (.Get "link") ".") }}

<div class="post-header">
  <div class="sum-up">
      {{ .Inner | markdownify }}
  </div>
  <img class="main-img" src="{{ $img }}" alt="source: {{ .Get "source"}}">
</div>
