<!--Show a clickable panel that reveals it's content
	See documentation for more details:
		'docs/shortcodes/spoiler.md'
-->
<div class="spoiler panel panel-default {{ .Get "class" }}"
{{ with .Get "style" }}style="{{ . | safeCSS }}"{{ end }}>
	<div class="panel-heading">
		<a class="collapsed" data-toggle="collapse"
		 style="display:block;{{ if (not (.Get "text")) }}text-decoration:none;{{ end }}"
		 {{ with .Get "id" }}href="#{{ . }}" {{ else }}href="#{{ .Get "text" | lower | urlize }}"{{ end }}>
			{{ with .Get "text" }}{{ . | safeHTML }}{{ else }}&nbsp;{{ end }}
		</a>
	</div>
	{{ if .Inner }}
	<div class="panel-collapse collapse {{ if (eq (.Get "open") "true") }}in{{ end }}"
	 {{ with .Get "id" }}id="{{ . }}"{{ else }}id="{{ .Get "text" | lower | urlize }}"{{ end }}>
		<div class="panel-body">{{ .Inner }}</div>
		{{ if .Get "footer" }}
			<div class="panel-footer">
				<a class="collapsed" data-toggle="collapse" style="display:block;"
				 {{ with .Get "id" }}href="#{{ . }}"{{ else }}href="#{{ .Get "text" | lower | urlize }}"{{ end }}>
					{{ .Get "footer" | safeHTML }}</a>
			</div>
		{{ end }}
	</div>
	{{ end }}
</div>

